* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



li, a, button {
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f5f2d0 ;
    text-decoration: none;
    background-color: #1d1e22;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    border-block-end: 2px solid #f5f2d0;
    background-color: #1d1e22 
}

.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav__links {
    list-style: none;
    background-color: #1d1e22;

}
.nav__links li {
    display: inline-block ;
    padding: 0px 20px;
    background-color: #1d1e22;

    
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    background-color: #1d1e22;

}
.nav__links li a:hover {
    color: #b6b39a
}

button { 
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #f5f2d0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #d6d3b4;
}


body{
    color:#f5f2d0;
    font: normal 16px Verdana, Helvetica, sans-serif; 
    line-height: 2em;
    margin: 0;
   }

.contain {
    margin: auto;
    overflow: hidden;
}



.box-1{
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 18px;
    background-color: rgba(29,30,34, 0.8);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px;
}

.box-1 h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}


.box-1 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/*inicio de card css*/


.container{
	margin: 30px;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
	position: relative;
	flex: 1;
	max-width: 460px;
	height: 645px;
	margin: 20px;
	overflow: hidden;
    border-radius: 10px ;
	transition: 0.6s;
}

.image img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px ; 
	position: relative;
	vertical-align: top;
	transition: 0.6s;
    opacity: 1;

}


.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 100%;
}

.image .details h2{
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 15px;
	transition: 0.6s;
    background-color: rgba(29,30,34, 0.8);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 20px;
    transition: width 0.5s;
    visibility: hidden;
}

span{
    font-weight: 900;
}
.image:hover .details h2{
    width: 190px;
    visibility: visible;
}


.image .details p{
	margin: 30px 30px 0 30px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);

}

.more{position: inherit;
    visibility: hidden;
    padding: 15px;
	background: rgba(29,30,34, 0.8);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: -250px;
	transition-property: bottom;
    max-width: 460px;
    overflow: hidden;
    transition: 0.6s;

}

.image:hover .more{
	bottom: 0;
    visibility: visible;

}

.more p{
    padding-top: 40px;
    padding-right: 20px;
text-align: center;
	color: white;
}


.image:hover img {
    transform:scale(1.1) rotate(-2deg);
transition: 0.6s;
}

/*termino de card css*/

.box-3 {
    padding: 20px;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 18px;
    background-color: rgba(29,30,34, 0.8);
    width: 200px;
    margin: 50px auto;
    border: 25px;
}
